.cube-container {
  width: 8rem;
  margin: auto;
  .cube-front-face {
    display: flex;
    flex-wrap: wrap;
    @include cube-face();
  }
  .cube-right-face {
    display: flex;
    flex-wrap: wrap;
    @include cube-face();
  }
  .cube-left-face {
    display: flex;
    flex-wrap: wrap;
    @include cube-face();
  }
}
